<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" data-bs-theme="light">
  <head>
    {{ if .Site.Params.gtm}}
    <link href="https://www.googletagmanager.com" rel="preconnect" crossorigin />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    {{ end }} {{ if $.Site.Params.gtm }}
    <!-- Google Tag Manager -->
    <!-- create dataLayer -->
    <script>
      <!-- OPTIONAL dataLayer -->
      var dataLayer = (window.dataLayer = window.dataLayer || []);
      dataLayer.push({
        page: "{{ .Title }}",
        categories: "Your dataLayer",
      });
    </script>
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "{{ $.Site.Params.gtm }}");
    </script>
    {{ end }} {{ partial "head" . }}
  </head>
  <body>
    {{ if $.Site.Params.gtm }}
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.gtm }}"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ end }} {{ partial "get-help-modal" . }} {{ partial "header" . }} {{ partial "hero" . }}
    <div class="container-fluid p-0">
      <div class="content" id="content">
        <div class="main">
          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}
        </div>
      </div>
    </div>

    {{ partial "footer" . }} {{ partial "scripts" . }}
  </body>
</html>
