{{ $blockID := printf "td-cover-block-%d" .Ordinal -}} {{ $reusablePages :=
$.Page.Resources.Match "hero-slides/slide*" }} {{ $promo_image :=
(.Page.Resources.ByType "image").GetMatch "**background*" -}} {{ $image_anchor
:= .Page.Get "image_anchor" | default "smart" -}} {{ with $promo_image -}} {{
$promo_image_big := (.Fill (printf "3618x500 %s" $image_anchor)) -}} {{
$promo_image_small := (.Fill (printf "960x540 %s" $image_anchor)) -}}
<link
  rel="preload"
  as="image"
  href="{{ $promo_image_small.RelPermalink }}"
  media="(max-width: 1200px)"
/>
<link
  rel="preload"
  as="image"
  href="{{ $promo_image_big.RelPermalink }}"
  media="(min-width: 1200px)"
/>
<style>

    #{{ $blockID }} {
      background-image: url({{ $promo_image_small.RelPermalink }});
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    @media only screen and (min-width: 1200px) {
      #{{ $blockID }} {
        background-image: url({{ $promo_image_big.RelPermalink }});
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      }
    }


    .carousel-indicators [data-bs-target] {
    position: relative;
    width: 60px;
    height: 6px;
    border: none;
    border-radius: 24px;
  }
  .carousel-indicators [data-bs-target] span {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1E794B;
    border-radius: inherit;
    animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  transition: all ease-in-out;
  }

  .carousel-item {
    height: 400px
  }

  @media (min-width: 768px) {

    .carousel-item {
      height: 535px;
    }

  }
</style>
{{ end -}}
<section id="{{ $blockID }}" class="position-relative overflow-hidden">
  <div class="d-flex justify-content-center">
    <div
      id="carouselExampleIndicators"
      class="carousel slide w-100 h-100"
      data-bs-ride="carousel"
      data-bs-pause="false"
    >
      <div class="carousel-indicators">
        {{ range $index, $value := $reusablePages }}
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="{{ $index }}"
          {{
          if
          eq
          $index
          0
          }}
          class="active"
          aria-current="true"
          {{
          end
          }}
          aria-label="Slide {{ add $index 1 }}"
        >
          <span></span>
        </button>
        {{ end }}
      </div>
      <div class="carousel-inner">
        {{ range sort $reusablePages .Params.weight "asc" }} {{ $slide_image :=
        .Parent.Resources.GetMatch .Params.backgroundImage -}} {{ $slide_id :=
        .Params.id }} {{ with $slide_image -}} {{$slide_image_big := (.Fill
        (printf "1296x700 %s" "top q100" )) -}} {{ $slide_image_small := (.Fill
        (printf "960x540 %s" "top q100" )) -}}
        <link
          rel="preload"
          as="image"
          href="{{ $slide_image_small.RelPermalink }}"
          media="(max-width: 1200px)"
        />
        <link
          rel="preload"
          as="image"
          href="{{ $slide_image_big.RelPermalink }}"
          media="(min-width: 1200px)"
        />
        <style>
          #{{ $slide_id}} {
            background-image: url({{ $slide_image_small.RelPermalink }});
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          @media only screen and (min-width: 1200px) {
            #{{ $slide_id }} {
              background-image: url({{ $slide_image_big.RelPermalink }});
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            }
          }
        </style>
        {{ end }}
        <div
          class="carousel-item active"
          id="{{ .Params.id }}"
          style="height: 700px"
        >
          {{ .Content }}
        </div>
        {{ end }}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next animate__animated animate__fadeIn animate__slower animate__delay-2s"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
