<div class="row pb-md-5">
    <div class="col-12 col-md-5 text-center text-md-start">
      <span class="d-lg-block pe-lg-5 py-5 ">
        <h2 class="text-nn-light-green fw-bold d-none d-lg-inline-block" style="max-width: 16ch;">How Narconon compares to other programs</h2>
        <h2 class="text-nn-light-green fw-bold d-lg-none mx-auto" style="max-width: 25ch;">How Narconon compares to other programs</h2>
        <p class="text-nn-text-gray">Part of the Narconon program’s unparalleled success is due to our unique approach to rehab. We want students to escape the revolving door of the rehab trap by truly taking control of their lives.</p>
      </span>
    </div>
    <div class="col-12 col-md-7 ">
      <table class="table  border-0 px-8 w-100" style="table-layout: fixed;">
        <thead>
          <tr class="table-nn-info text-center border-none py-4">
            <th scope="col" class="border-0"></th>
            <th scope="col" class="border-0">{{ partial "default-logo" }}</th>
            <th scope="col" class="border-0  d-none d-lg-table-cell">Traditional Programs</th>
            <th scope="col" class="border-0  d-none d-lg-table-cell">Dual Diagnosis</th>
            <th scope="col" class="border-0 d-lg-none">Others</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-white border-0">
            <th scope="row" class="border-0">Withdrawal</th>
            <td class="text-center border-0 text-nn-light-green fw-bold">Drug Free</td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-none d-lg-table-cell">Uses drugs</td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-none d-lg-table-cell">Uses drugs</td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-lg-none">Uses drugs</td>
          </tr>
          <tr class="table-nn-info border-0">
            <th scope="row" class="border-0">Relapse</th>
            <td class="text-center border-0 text-nn-light-green fw-bold" style="max-width: 15ch;">Process is designed to prevent relapse</td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-none d-lg-table-cell">Part of the process</td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-none d-lg-table-cell">Part of the process</td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-lg-none">Part of the process</td>
          </tr>
          <tr class="table-white border-0 py-2">
            <th scope="row" class="border-0">Treatment of students</th>
            <td class="text-center border-0 text-nn-light-green fw-bold">No labels or shame</td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-none d-lg-table-cell"><span class="d-block mx-auto" style="max-width: 14ch;">Students are labeled addicts</span></td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-none d-lg-table-cell"><span class="d-block mx-auto" style="max-width: 15ch;">Diagnosed with mental illness</span></td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-lg-none"><span class="d-block mx-auto" style="max-width: 15ch;">Diagnosed with mental illness</span></td>
          </tr>
          <tr class="table-nn-info border-0">
            <th scope="row" class="border-0">Approach</th>
            <td class="text-center border-0 text-nn-light-green fw-bold"><span class="d-block mx-auto" style="max-width: 13ch;">Taking control of your life</span></td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-none d-lg-table-cell"><span class="d-block mx-auto" style="max-width: 16ch;">Considered an addict for life</span></td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-none d-lg-table-cell"><span class="d-block mx-auto" style="max-width: 13ch;">Considered mentally ill</span></td>
            <td class="text-center border-0 text-nn-text-gray fw-bold d-lg-none"><span class="d-block mx-auto" style="max-width: 13ch;">Considered mentally ill</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>