<div class="nn-roller text-center">
  <div
    class="holder position-relative m-auto text-center d-md-flex justify-content-center text-dark-gray fw-bold"
    style="height: 25px; padding-top: 0.6rem"
  >
    <div
      id="slide-set-1"
      class="h-100 m-0 position-absolute overflow-hidden d-flex align-items-center"
    >
      <div class="slide-holder position-relative">
        <div id="firstSlide" class="slide-1 position-relative">
          Legal Trouble?
        </div>
        <div class="slide-2 position-relative">Failed rehab?</div>
        <div class="slide-3 position-relative">Too expensive?</div>
        <div class="slide-4 position-relative">No insurance?</div>
      </div>
    </div>
    <div
      id="slide-set-2"
      class="h-100 m-0 position-absolute overflow-hidden d-flex align-items-center"
    >
      <div class="slide-holder2 position-relative hide">
        <div id="firstSlide" class="slide-1 position-relative">
          Legal Trouble?
        </div>
        <div class="slide-2 position-relative">Failed rehab?</div>
        <div class="slide-3 position-relative">Too expensive?</div>
        <div class="slide-4 position-relative">No insurance?</div>
      </div>
    </div>
  </div>
</div>
